/* INITIAL SEARCH FIELD */
.searchContainer {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.searchContainer .searchicon {
    position: absolute;
    left: 15px;
    top: 15px;
}
.icon.icon-search {
    cursor: pointer;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: inherit;
}
.searchContainer input, .modal-content input {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding-left: 40px;
    border-radius: 2px;
    box-sizing: border-box;  
    cursor: pointer;
}

/* SEARCH MODAL */
#searchModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal-content {
    background-color: #fefefe;
    color: #ddd;
    margin: 5% auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    position: relative;
    display: flex; /* Enable flexbox for the modal */
    overflow: hidden; /* Prevent modal from growing too large */
}
.modal-container {
    display: flex;
    width: 100%;
}
.modal-filter {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd; /* Add separator between filter and search */
    overflow-y: auto; /* Make the filter scrollable */
    max-height: 80vh; /* Ensure the filter section is not too tall */
    background: #f5f5f5;
    display: none;
}
.modal-filter .has-results{
    cursor: pointer;
    color: #666;
}
.modal-search {
    flex: 3;
    position: relative;
    overflow-y: auto; /* Enable scrolling for the search results */
    max-height: 80vh; /* Ensure the search section is not too tall */
}
#modalSearchField {
    width: 100%;
    height: 60px;
    outline: 0px solid #ddd;
    border: 0px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    padding-left: 60px;
    box-sizing: border-box;
    cursor: text;
}
.modal-content .searchicon {
    position: absolute;
    left: 30px;
    top: 20px;
}
.closeModal {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #aaa;
    font-size: 2em;
    font-weight: normal;
}
.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* SEARCH RESULTS */
.resultwrapper {
    position: relative;
}
.noresultwrapper {
    position: relative;
    padding: 20px;
    text-align: center;
    color: #666;
}
.resultlist {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.resultlist a {
    color: #666;
    text-decoration: none;
}
.resultitem {
    border-bottom: 1px solid #ddd;
    padding: 32px 32px;
    line-height: 1.3em;
    transition: all .15s ease;
}
.resultitem:hover {
    background: #f5f5f5;
}
.resultheader {
    margin: 0;
    margin-bottom: 12px;
}
.resultsnippet {
    margin: 0;
}
.search-hl {
    background-color: yellow;
}

@media (min-width: 800px) {

    .modal-filter{
        display: block;
    }
}

